

<h1>New Event Registration</h1>

<form id="cancel">
<table class="events">
<tr>
<th>Event Name</th>
<th>Date</th>
<th>Status</th>
<th></th>
</tr>

<?php foreach($events as $e): ?>
<tr>
<td><?= $e->getName() ?></td>
<td><?= $e->getStartDate() ?></td>

<?php if($e->isWaitlisted()): ?>
<td>Waitlist <a class="info-popup" href="waitlistInfo.html">Info</a></td>
<?php else: ?>
<td>Available <a class="info-popup" href="registerInfo.html">Info</a></td>
<?php endif; ?>
<td><input type="button" class="regbtn" id="id<?php echo $e->getId(); ?>" value="Register Now" /></td>
</tr>
<?php endforeach ?>


</table>
</form>

